.Equipment {
//   padding-top: 5%;
  width: 100%;
  height: 100%;
  /*background-size: cover;
    background-image: url('../img/.jpg');*/
  overflow: hidden;

  .Title {
    text-align: left;
    padding-left: 5%;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    background-color:  rgba($color: #bec0c0, $alpha: 0.8);
    padding-top: 5%;
    h1 {
      margin: 0;
      padding-bottom: 5%;
    }
  }

  .Item {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #bec0c0, $alpha: 0.8);
    display: inline-flex;
    justify-items: stretch;
    align-items: center;
    padding-bottom: 6rem;
    .card {
      flex: 1;
      display: grid;
      margin: 1%;
      justify-items: center;
      .Icon {
        width: 100%;
        display: grid;
        justify-items: center;
        // transform: translateY(30%);
        // z-index: 2;
        //background-color: rgba($color: #000000, $alpha: 0.9);

 
        img {
          display: block;
          margin: auto;
          width: 70%;
          padding: 5%;
        }
        h5 {
          color: #000000;
          font-size: 1.5rem;
          text-align: center;
          font-family: "Oswald", sans-serif;
        }


      }

      .Content {
        width: 100%;
        //z-index: 1;

        //transform: translateY(-80%);
        // transform: scale(0);
        p {
          color: #000000;
          padding: 5% 10%;
          text-align: center;
          font-size: large;
        }
      }
    }

    .card:hover {
      background-color: lightblue;
      border-radius: 10%;
    }
  }

  .camera {
    padding-top: 5.5rem;
    text-align: left;
    margin: 0% 7%;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    //background-color: rgb(0, 47, 122);

    h2 {
    //   padding-top: 6rem;
      color: black;
      border-bottom: solid 2px rgb(0, 47, 122);
      margin-bottom: 0;
    }

    h3 {
      padding-top: 6%;
      padding-left: 3%;
    }

    .container {
      display: grid;
      grid-template-columns: 45% 45%;
      grid-gap: 10%;
      padding-bottom: 5%;
      img {
        width: 100%;
      }
    }
  }
  .SnapShot{
    padding-top: 5.5rem;
  }
  .Protable{
    padding-top: 5.5rem;
  }
}

@media screen and(max-width:1024px) {
  .Equipment .Item {
    display: grid;
    //padding:10%;
    //margin: 0% 5%;
    .card {
      margin: 5% 20%;
    }
  }
}
