.Equipment{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    /*background-size: cover;
    background-image: url('../img/.jpg');*/
    overflow: hidden;

    .Title{
        text-align: left;
        margin-left: 5%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
    }

    .Item{
        width: 100%;
        height: 100%;
        //background-color: rgba($color: #000000, $alpha: 0.8);
        display:inline-flex;
        justify-items: stretch;
        align-items: center;

        .card{
            flex: 1;
            display: grid;
            margin: 5% 1%;
            justify-items: center;
            .Icon{
                width: 100%;
                display: grid;
                justify-items: center;
               // transform: translateY(30%);
               // z-index: 2;
                //background-color: rgba($color: #000000, $alpha: 0.9);
               
                img{
                    width: 60%;
                    padding:5%
                }
                h{
                    color: #000000;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }
            
            .Content{
                width: 100%;
                //z-index: 1;
               
                //transform: translateY(-80%);
               // transform: scale(0);
                p{
                    color: #000000;
                    padding: 5%;
                    text-align: center;
                }
                
            }
        }

        .card:hover{

            background-color: lightblue;
            border-radius: 10%;
        }

    }    
}

@media screen and(max-width:1024px){

    .Equipment .Item{

        display: grid;
        //padding:10%;
        //margin: 0% 5%;
        .card{
            margin: 5% 20%;
        }
    }
}