.top{
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 8%;
    z-index: 999;

    .mark{
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 0.5vh;
        left: 3vw;
        width: 5%;
        height: 5%;
        font-size: 3em;
        font-family: Oregano;
    
    }

    .list ul li{
        display: inline;
        margin: 3ex;
        
    } 
    
    .list{
        padding: 1vh 1vw;
        
    } 
    
    #p1{
        text-decoration: none;
        font-family: Oswald;
        font-size: 1.5em;
    }
    
    
}


.circle1{
    margin-bottom: -10rem;
    width: 25em;
    height: 25em;
    background-color: #C1CAF6;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 0;
}

.HomePic{
    //margin-top:10%;
    display: flex;
    justify-items: stretch;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;

    

    .Home{
        flex:3;
        
        margin-left: 10%;
        .text{
            z-index: 1;
            display: grid;
            
            h1{
                z-index: 1;
                font-size:3rem;
                font-family: Oswald;
                line-height: 71px;
                text-align: left;
                color: #2961B5;
                letter-spacing: 0.01em;

            }
            h2{
                font-size:2rem;
                line-height: 1.5em;
                text-align: left;
                font-family: Oswald;
                color: #B0AAAA;
                letter-spacing: 0.01em;

            }
            
            .more{
                font-family: Oswald;
                font-size: 2.3rem;
                line-height: 4rem;
                color: white;
                z-index: 1;
                display: flex;
                
                #lm{
                    width: 15rem;
                    height: 20%;
                    background-color: #8498E0;
                    display: grid;
                    justify-items: center;
                    text-decoration: none;
                    color: white;
                    white-space: nowrap;
                }
                .circle2{
                    margin-left: 10rem;
                    width: 12rem;
                    height: 12rem;
                    background-color: #c5d5e9;
                    border-radius: 50%;
                    opacity: 0.5;
                    z-index: 0;
                }
                
            }

        }
    }

    img{
        //z-index: 0;
        flex:1;
        margin:0% -10% 5% 0%;
        width: 60%;
    }

    
}

.circle3{
    width: 20em;
    height: 20em;
    background-color: #E5E5E5;
    border-radius: 50%;
    z-index: 0;
    opacity: 0.7;

    margin:-12rem 10rem 10rem -5rem;
}
 

    


