html{
    scroll-behavior: smooth;
}

.top{
    position: fixed;
    top: 0;
    // background-color: ivory;
    // background-color: ivory;
    background-color: #2f64a2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    z-index: 999;

    .logo{
        
        position: fixed;
        display: flex;
        //justify-content: flex-end;
        // top: -1vh;
        left: 1vw;
        width: auto;
        height: 10vh;
        margin-top: -0.3rem;
        //justify-items: center;
    }

    // .mark{
    //     position: fixed;
    //     display: flex;
    //     justify-content: flex-end;
    //     top: 1.5vh;
    //     left: 10vw;
    //     width: 5%;
    //     height: 5%;
    //     font-size: 3em;
    //     font-family: Oregano;
    
    // }

    .list ul{
         margin-bottom: 0;
        li{
        display: inline;
        margin: 3ex;
        
        
        
    } 
}
    .list{
        padding: 2vh 1vw;
        align-self: center;
    } 
    
    #p1{
        text-decoration: none;
        //font-family: Oswald;
        font-size: 1.5em;
        color: white;
        //letter-spacing: 0.1rem;
    }
    
}



.HomePic{
    
    display: flex;
    justify-items: stretch;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;

    

    .Home{
        flex:2;
        margin-left: 10%;
        padding-top: 3%;
        .text{
            z-index: 1;
            display: grid;
            width: 100%;
            
            
            .circle1{
                margin-left: 5%;
                margin-bottom: -10rem;
                width: 25rem;
                height: 25rem;
                background-color: #C1CAF6;
                border-radius: 50%;
                opacity: 0.9;
                z-index: 0;
            }

            h1{
                z-index: 1;
                font-size:3rem;
                font-family: Oswald;
                line-height: 4.5rem;
                text-align: left;
                color: #2961B5;
                letter-spacing: 0.02em;
                //white-space: nowrap;
                margin-bottom: 40px;
            }
            h2{
                
                font-size:2rem;
                line-height: 2.8rem;
                text-align: left;
                font-family: Oswald;
                color: #B0AAAA;
                letter-spacing: 0.01em;
                z-index: 1;
            }
            
            .more{
                font-family: Oswald;
                font-size: 2.3rem;
                line-height: 4rem;
                color: white;
                z-index: 1;
                display: flex;
                
                #lm{
                    margin-top: 30px;
                    width: 13rem;
                    height: 20%;
                    letter-spacing: 0.05em;
                    background-color: #8498E0;
                    display: grid;
                    justify-items: center;
                    text-decoration: none;
                    color: white;
                    white-space: nowrap;
                }
                .circle2{
                    margin-left: 5%;
                    width: 12rem;
                    height: 12rem;
                    background-color: #D4DFEC;
                    border-radius: 50%;
                    opacity: 0.9;
                    z-index: 0;
                }
                
            }

            .circle3{
                width: 18rem;
                height: 18rem;
                background-color: #E5E5E5;
                border-radius: 50%;
                z-index: 0;
                opacity: 0.9;
            
                margin:-11rem 10rem 8rem -8rem;
            }

        }
    }

    img{
        //z-index: 0;
        flex:3;
        margin: 0rem -12rem 0rem -15rem;
        width: 100%;
    }

    
}

.ant-back-top{
    line-height: 40px;
    border-radius: 1em;
    background-color: coral; 
}

// .top_button {
//     color: white;  
// }

// .button-border
// {
//     // z-index: 11;
//     // -webkit-transform: translateZ(0);
//     .top-button{
//         background-color: burlywood;
//         z-index: 10;
//         // width: 4%;
//         // height: 8%;
//         border-style: solid;
//         position: fixed;
//         bottom: 18vh;
//         right: 1vw;
//         top: 75vh;
//         border-radius: 1em;
//         // max-width: 4%;
//         // max-height: 8%;    
//         text-decoration: none;  
//     }
//     #p2{
//         text-decoration: none;
//         color: black;
//     }
// }

@media screen and(max-width:1440px){

    .mark{
        margin-left: 3rem;
    }
    .HomePic img{
        margin: 0rem -5rem 0rem 0rem;
        width: 70%;
    }

    h1{
        white-space: nowrap;
    }
}
@media screen and(max-width:1280px){

    .HomePic img{
        margin: 0rem -5rem 0rem 0rem;
        width: 60%;
    }
}

@media screen and(max-width:1024px){
    .top{
        display: none;
    }

    .HomePic{ 
        display: grid;
        img{
            display: none;
        }

        .Home{
            margin-left: 0%;
            width: 100%;
            display: grid;
            justify-items: center;
            .text{
                width: 60%;
                .more{
                    .circle2{
                        margin-left: 50%;
                        margin-right: -50%;
                    }
                }
                
            }
        }

    }

}

@media screen and(max-width:899px){
    .mark{
        margin-left: 5rem;
                
    }

    .HomePic .Home .text{
        width: 60%;
        h1{
            white-space: normal;
        }
        .more{
            .circle2{
                margin-left: 25%;
                margin-right: -25%;
                
            }
        }

        .circle3{
            margin:-11rem 0rem 2rem -5rem;
            //visibility: hidden;
        }
    }   
    }

@media screen and(max-width:639px){

    .HomePic .Home .text{
        width: 60%;
        margin:0% 10% 0% 0% ;
        justify-self: center;
        h1{
            white-space: normal;
            justify-self: center;
        }

        .more{
            .circle2{
                margin-left: 5%;
                margin-right: -5%;
                
            }
        }
        .circle3{
            margin:-11rem 0rem 2rem 0rem;
            visibility: hidden;
        }
    }   
}


@media screen and(max-width:547px){

    .HomePic .Home .text{
        
        margin:0% 0% 0% 10% ;
        justify-self: center;
        .circle1{
            margin-left: -5rem;
        }
        h1{
            width: 100%;
            justify-self: center;
            white-space: normal;
        }
        h2{
            width: 100%;
            justify-self: center;
            white-space: normal;
        }
        .more{
            
            justify-self: center;
            .circle2{
                display: none;
            }
        }
    }   
}

@media screen and(max-width:460px){

    .HomePic .Home .text{
        margin:0% 0% 0% 0% ;
        justify-self: center;
        h1{
            width: 100%;
            font-size: 2.5rem;
            justify-self: center;
            white-space: normal;
            line-height: 3rem;
        }
        h2{
            width: 100%;
            justify-self: center;
            white-space: normal;
        }

        .circle1{
            width: 20rem;
            height: 20rem;
            margin-left: -10%;
            margin-top: 5rem;
            margin-bottom: -10rem;
        }
        
        
        
        
    }   
}

@media screen and(max-width:413px){

    .HomePic .Home .text{
        margin:0% 0% 0% -10% ;
        justify-self: center;
        h1{
            width: 80%;
            font-size: 2.2rem;
            white-space: normal;
        }
        h2{
            width: 80%;
            font-size: 1.6rem;
            white-space: normal;
            line-height: 2rem;
        }
        
        .more{
            justify-self: center;
            // #lm{
                
            //     width: 9rem;
            //     font-size: 1.6rem;
            //     line-height: 3rem;
            // }
        }

        .circle1{
            width: 20rem;
            height: 20rem;
            margin-left: -10%;
            margin-top: 5rem;
            margin-bottom: -10rem;
        }
        
    }   
}

@media screen and(max-width:374px){

    .HomePic .Home .text{
        margin:0% 0% 0% -20% ;
        justify-self: center;
        .circle1{
            width: 15rem;
            height: 15rem;
            margin-left: 0%;
            margin-top: 10rem;
            margin-bottom: -10rem;
        }
        
    }   
    .top-button{
        height: 50px;
    }
}