.honor{
    padding-top: 5%;
    width: auto;
    height: auto;
    overflow: hidden;
    // background-color:  #2d3a4b;
    background-color: #f5f7f8;
    
    
    
    .master2{
        text-align: left;
        margin: 0% 7%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        //background-color: rgb(0, 47, 122);
        
        
        h2{
            color: white;
            border-bottom: solid 2px rgb(0, 47, 122);
            margin-bottom: 0;
        }

    }

    .Title_Honor{
        text-align: left;
        margin: 0% 5%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
        // h1{
        //     color: white;
        // }

    }



  
    .picborder
    {
        
        box-sizing: border-box;
        width: auto;
        height: auto;
        overflow: auto;
        //padding-bottom: 5rem;
        display: flex;

        // width: 50%;
        .arrow{
            font-size: 50px;
            align-self: center;
            
        }
        .H_A_div{
            display: inline-flex;
            flex-wrap: nowrap;
            overflow: hidden;
            // width: 95%;
            margin:auto;
            //background-color:white;

            .pic_hon{
                //margin-top: -4rem;
                padding: 15% 5%;
               
                display:grid;
                // background-color: rgb(224, 238, 234);
                
                .all{
                    background-color:rgb(224, 238, 234);
                    padding-top: 15%;
                    .big_pic{
                        // height: 30vh;
                        // width: 25vw;
                        max-width: 100%;
                        max-height: 330px;
                        padding-left: 1rem;
                    }
                    h4{
                        font-size: 2em;
                        font-weight: bold;
                        text-align: center;
                    }
                    img{
                    
                        display:grid;
                        margin: auto;
                        // width: 350px;
                        max-width: 80%;
                        height: 330px;
                        padding-left: -2rem;
                    }
                    .column_Pic{
                        width: 90%;
                        padding-left: 13%;
                        
                        // height: 100%;
                    }
                }

                .openPic{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    width: 70%;
                  img{
                    width: 70%;
                  }
                }




                
            }

        }


    
        .detail_hon {
            // visibility: hidden;
            // width: 350px;
            height: 200px;
            // margin-left: 8rem;
            margin:  auto;
            text-align: center;
            font-size: 1em;
            // background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
            background-color: rgb(224, 238, 234);

            .Email{
                display: inline-flex;
                padding: 2% 0% 5% 0%;
                a{
                    padding: 0% 2%;
                }  
            }
            h3{
                font-size: 1.11rem;
                padding:0 5% ;
               
                .red{
                    color: #ce3213;
                    font-size: 1.2rem;
                }
            
            }
            a{
                color: #ce3213;
                align-self: center;
                font-size: 1.2rem;
            }
        }
        .detail_hon p{
            padding-bottom: 2%;
        }



        @media (max-width: 450px){
            .H_A_div .pic_hon{
            //margin-top: -7rem;
            padding-left: 0px;
            }



            .H_A_div .pic_hon img{
                // padding-right: 0px;
                width: 240px;
                height: 320px;
                
       
            }

            .H_A_div .pic_hon .detail_hon{        
                visibility: hidden;
            }
           
            .H_A_div .pic_hon .detail_hon{
                visibility: visible;
                margin-bottom: 3rem;
                // width: 220px;
                margin-left: 1rem;
                height: 275px;
            }

        }
        @media (max-width: 376px){
            .H_A_div .pic_hon{
                padding-right: 50px;
                //margin-top: -7rem;
                padding-left: 8px;
 
            }

            .H_A_div .pic_hon .detail_hon{
                visibility: visible;
                margin-bottom: 3rem;
                width: 240px;
                // margin-right: 2px;
                margin-left: 0rem;
                
            }
            .arrow{
                font-size: 40px;

            }
        }

        @media (max-width: 320px){

            .H_A_div .pic_hon img{
                width: 180px;
                height: 270px;
            }

            .H_A_div .pic_hon{
                // margin-bottom: 10rem;
                padding-right:0px ;
                padding-left:0px ;
            }

            .H_A_div .pic_hon .detail2{
                width: 180px;
                margin-left: 0.9rem;
                .Email{
                    display: grid;
                }
            }

        }

}

}