.Introduction{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-around;
    overflow: hidden;

    .Title{
        text-align: left;
        margin-left: 5%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
    }

    

    .content{
        flex: 1;
        display: flex;
        margin: 0% 5% 5% 5%;
        justify-self: stretch;
        flex-wrap: wrap;
        video{
            width: 30vh;
            flex:1;
            //object-fit: contain;
            margin-right: 5%;
            //margin-bottom: 5%;
            align-self: center;
        }

        span{
            font-size: 1.5rem;
            line-height: 3rem;
            //font-family: Oswald;
            text-align: left;
            flex:1;
            margin: 0% 1%;
            align-self: center;
        }

    }
    
}

@media screen and (max-width:1024px){
    .Introduction .content{
        display: grid;
        video{
            width: 100%;
            justify-self: center;
            margin-bottom: 5%;
            margin-left: 5%;
        }
        
    }
    
}