
.LabDirector{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background-size: cover;
    //background-image: url('../img/LabDirector/Lab_bg.jpg');
    background-color:#9999CC;

    .Background{
        max-width: 100%;
        height: 100%;
        //background-color: rgba($color: #000000, $alpha: 0.8);
        display:inline-flex;
        justify-items: stretch;
        align-items: center;
        overflow: hidden;

        .Hsipl{
            flex: 1;
            display: grid;
            margin: 5% 5%;
            justify-items: center;
            align-items: center;
            .Icon{
                width: 100%;
                transform: translateY(30%);
                //background-color: rgba($color:#000000, $alpha: 0.9);
                z-index: 2;
                display: grid;
                justify-items: center;
                
                img{
                    width: 50%;
                    
                    
                }
                h{                
                    color: #ffffff;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }

            .Content{
                
                z-index: 1;
                transform: translateY(-80%);
                background-color: #ffffff;
                transform: scale(0);

                p{
                    
                    color: #000000;
                    padding: 1%;
                }
            }
            

            .Icon:hover{
                transition: all 1s;
                transform: translateY(0%);
                background-color: slateblue;

            }
                
            .Icon:hover +.Content {
                transition: all 1s;
                transform: translateY(0%);
                
                
            }
        }

        

        .App{
            flex: 1;
            display: grid;
            margin: 5% 5%;
            justify-items: center;
            .Icon{
                width: 100%;
                display: grid;
                justify-items: center;
                transform: translateY(30%);
                z-index: 2;
                //background-color: rgba($color: #000000, $alpha: 0.9);
                img{
                    width: 50%;
                }
                h{
                    margin:5% 0%;
                    color: #ffffff;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }
            
            .Content{
                
                transform: translateY(-80%);
                z-index: 1;
                background-color: #ffffff;
                transform: scale(0);
                p{
                    color: #000000;
                    padding: 1%;
                }
                
            }
            .Icon:hover{
                transform: translateY(0%);
                transition: all 1s;
                background-color: slateblue;
            }
            .Icon:hover  +.Content{
                transition: all 1s;
                transform: translateY(0%);
            }
        }
        .Web{
            flex: 1;
            display: grid;
            margin: 5% 5%;
            justify-items: center;
            .Icon{
                width: 100%;
                display: grid;
                justify-items: center;
                transform: translateY(30%);
                z-index: 2;
                //background-color: rgba($color:#000000, $alpha: 0.9);
                
                img{
                    width: 50%;
                }
                h{
                    margin:5% 0%;
                    color: #ffffff;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }
            .Content{
                transform: translateY(-80%);
                z-index: 1; 
                background-color: #ffffff;
                transform: scale(0);
                p{
                    color: #000000;
                    padding: 1%;
                }

            }
            
            .Icon:hover{
                transform: translateY(0%);
                transition: all 1s;
                background-color: slateblue;
            }
            .Icon:hover +.Content{
                transform: translateY(0%);
                transition: all 1s;
            }
        }
    }
}



@media screen and(max-width:800px){

    .LabDirector .Background{

        display: grid;
        padding: 10%;
    }
}