
.LabDirector{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../img/LabDirector/Frame.svg');
    //opacity: 0.5;
    // background-color:#9999CC;
    background-color:#000000;

    .Background{
        max-width: 100%;
        height: 100%;
        //background-color: rgba($color: #000000, $alpha: 0.8);
        display:inline-flex;
        justify-items: stretch;
        align-items: center;
        overflow: hidden;

        .Hsipl{
            flex: 1;
            display: grid;
            margin: 5% 5%;
            justify-items: center;
            align-items: center;
            .Icon{
                width: 100%;
                transform: translateY(30%);
                //background-color: rgba($color:#000000, $alpha: 0.9);
                z-index: 2;
                display: grid;
                justify-items: center;
                border-radius: 1rem 1rem 1rem 1rem;
                box-shadow: 5px 5px 7px 7px rgba(0, 0, 0, 0.3);
                background-color: #526a8a;
                img{
                    width: 50%;
                    padding:10%;
                    
                }
                h{                
                    color: #ffffff;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }

            .Content{
                font-size: 1rem;
                z-index: 1;
                transform: translateY(-80%);
                background-color: #d9f3ff;
                transform: scale(0);
                border-radius: 0% 0% 1rem 1rem ;
                p{
                    
                    color: #000000;
                    padding: 5%;
                }
            }
            

            .Icon:hover{
                transition: all 1s;
                transform: translateY(0%);
                background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
                border-radius: 5% 5% 0% 0%;
            }
                
            .Icon:hover +.Content {
                transition: all 1s;
                transform: translateY(0%);
                
                
            }
        }

        

        .App{
            flex: 1;
            display: grid;
            margin: 5% 5%;
            justify-items: center;
            .Icon{
                width: 100%;
                display: grid;
                justify-items: center;
                transform: translateY(30%);
                z-index: 2;
                //background-color: rgba($color: #000000, $alpha: 0.9);
                border-radius: 1rem 1rem 1rem 1rem;
                box-shadow: 5px 5px 7px 7px rgba(0, 0, 0, 0.3);
                img{
                    width: 50%;
                    padding:10%;
                }
                h{
                    margin:5% 0%;
                    color: #ffffff;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }
            
            .Content{
                font-size: 1rem;
                transform: translateY(-80%);
                z-index: 1;
                background-color: #ffffff;
                transform: scale(0);
                border-radius: 0% 0% 1rem 1rem ;
                background-color: #d9f3ff;
                p{
                    color: #000000;
                    padding: 5%;
                }
                
            }
            .Icon:hover{
                transform: translateY(0%);
                transition: all 1s;
                background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
                border-radius: 5% 5% 0% 0%;
            }
            .Icon:hover  +.Content{
                transition: all 1s;
                transform: translateY(0%);
            }
        }
        .Web{
            flex: 1;
            display: grid;
            margin: 5% 5%;
            justify-items: center;
            .Icon{
                width: 100%;
                display: grid;
                justify-items: center;
                transform: translateY(30%);
                z-index: 2;
                //background-color: rgba($color:#000000, $alpha: 0.9);
                border-radius: 1rem 1rem 1rem 1rem;
                box-shadow: 5px 5px 7px 7px rgba(0, 0, 0, 0.3);
                img{
                    width: 50%;
                    padding:10%;
                }
                h{
                    margin:5% 0%;
                    color: #ffffff;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Oswald', sans-serif;
                }
            }
            .Content{
                font-size: 1rem;
                transform: translateY(-80%);
                z-index: 1; 
                background-color: #ffffff;
                transform: scale(0);
                border-radius: 0% 0% 1rem 1rem ;
                background-color: #d9f3ff;
                p{
                    color: #000000;
                    padding: 5%;
                }

            }
            
            .Icon:hover{
                transform: translateY(0%);
                transition: all 1s;
                background-color: #2f64a2;
                border-radius: 5% 5% 0% 0%;
            }
            .Icon:hover +.Content{
                transform: translateY(0%);
                transition: all 1s;
                
            }
        }
    }
}



@media screen and(max-width:800px){

    .LabDirector .Background{

        display: grid;
        padding: 10%;
        .Hsipl {
            .Icon{
                transform: translateY(0%);
                background-color: slateblue;
                
            }
            .Content{
                transform: scale(1);
                transform: translateY(0%);
            }

        }
        .App {
            .Icon{
                transform: translateY(0%);
                background-color: slateblue;

            }
            .Content{
                transform: scale(1);
                transform: translateY(0%);
            }

        }
        .Web {
            .Icon{
                transform: translateY(0%);
                background-color: slateblue;

            }
            .Content{
                transform: scale(1);
                transform: translateY(0%);

            }

        }
    }
}