.members{
    //margin-top: -25rem;
    width: 100%;
    height: 100%;
    /*background-size: cover;
    background-image: url('../img/.jpg');*/
    overflow: hidden;
    
    .master2{
        text-align: left;
        margin-left: 5%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        background-color: lightblue;
    }

    .Title{
        text-align: left;
        margin-left: 5%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
        
    }

    .masterpic{
        display: flex;
        justify-content: center;
        padding:2% 0%;
        flex-wrap: wrap;
        //margin-top:-20vh;
        .pic{
            margin-top: -20vh;
            padding: 2%;
            display:grid;
            justify-content: center;
            width: 40vh;
            
            img{
                width: 100%;
                align-self: end;
            }

            .detail{
                display: grid;
                align-self: center;
                font-family: 'Noto Sans TC', sans-serif;
                width: 80%;
                height: 20vh;
                background-color: white;
                transform: scale(.1);
                visibility: hidden;
                transition: .8s;
                justify-content: center;
                position: relative;
                top: 34vh;
                // left: 2rem;
                align-self: end;
                text-align: center;
                justify-self: center;

                padding: 10% 0%;
                span{
                    display: grid;
                    align-items: center;
                    //font-size: 2rem;
                }
                .mail{
                    display:flex;
                    align-items: stretch;
                    a{
                        padding-right: 2%;
                    }
                }
                
            }
        }
    }
    .pic:hover .detail{
        transform: scale(1);
        visibility: visible;
        //height: 20vh;
    }

    .detail2 {
        visibility: hidden;
        font-size: 1em;
        background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    }
    .detail2 p{
        margin-top: -0.4rem;
    }
    // .mail{
    //     margin-right: 0rem;
    // }
    // .mail1{
    //     position: relative;
    //     top: 12.2rem;
    //     right: 1rem;    
    // }

    @media (max-width: 450px){
        .detail{
            display: none;
            
        }
        .detail2{
            visibility: visible;
            margin-bottom: 3rem;
            
        }
    }
}  
