@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.title2{
    display: flex;
    margin-top: 0rem;
    justify-content: start;
    margin-left:5rem ;
    font-size: 72px;
    font-family: Oswald;
}

.master{
    display: flex;
    width: 80%;
    margin-left: 8rem;
    background-color: #D4DFEC;
    font-size: 40px;
    font-family: Oswald;
}

.wrapper{
    width: 90%;
    height: 100%;
    display: flex;
    margin-top: 25rem;
    padding: 5rem;
    // padding-left: -5rem;
    // position: absolute;
    // top: 150rem;
    transform: translateY(-50%);
    overflow: hidden;

    
}

.column{
    position:relative;
    padding: 3%;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    left: -1rem;
}

.column .imgBx{
    //width: 20%;
    // height: auto;
    position: relative;
}



#p1{
    max-width: 120%;
}

.column:hover .imgBx .img{
    transform:scale(1.5);

}

.column .details{       /*背面整個*/
    position: absolute;
    top: 9rem;
    left: 11rem;
    font-size: 20px;
    // display: flex;
    // margin-top: -25rem;
    background: #fff;
    text-align: center;
    transform: scale(.5);
    visibility: hidden;
    transition: .5s;
    width: 50%;
    height: 50%;
}


.column:hover .details{
    transform: scale(1);
    visibility: visible;
}

.column .details .content1{ /*背面文字*/
    

    display: flex;
    margin-left: 15rem;
    margin-top: 7rem;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 20%;                                    
    box-sizing: border-box;
    
    max-width: 50%;

}

#p3{
    max-width: 130%;
    max-height: 100%;
}

@media(max-width:1440px){ 
    .wrapper{
        margin-top: 15rem;
    }
    .wrapper1{
        margin-bottom: 10rem;
    }
    .details{
    margin-top: -1rem;
    margin-left: -3rem; 
    }
    .content1 ul{
        margin-top: 1rem;
        margin-left: 0.2rem;
    }
    .content1 p2{
        margin-bottom: 5rem;
        margin-left: -2.5rem;
    }
    .content1 p2::before{
        margin-bottom: -5rem;
    }
 }


@media(max-width:1024px){ 

    .details{
    margin-top: -4rem;
    margin-left: -5.5rem; 
    }
    .content1 ul{
        margin-top: -1rem;
        margin-left: 1rem;
        font-size:15px;
    }
    .content1 p2{
        margin-bottom: 5rem;
        margin-left: -4.8rem;
    }
    .content1 li {
        visibility:hidden;
    }
    .content1 p2::before{
        margin-bottom: -5rem;
    }
 }


 @media(max-width:800px){
     .wrapper{
         margin-top:11rem;
     }

    .details{
    margin-top: -5rem;
    margin-left: -6.5rem; 
    }
    .content1 ul{
    
        margin-top: -2rem;
        margin-left: 2rem;
        font-size:10px;
    }
    .content1 li{
        visibility: hidden;
    }
    .content1 p2{
 
        margin-bottom: 7rem;
        margin-left: -6rem;
    }
    .content1 p2::before{
        margin-bottom: -5rem;
    }
 }

 @media(max-width:450px){ 
    .title2{
        margin-left: 5rem;
    }
    .master{
        margin-left:3rem;
    }

    .wrapper{

        margin-left: -3rem;
        margin-top: 8rem;
     }
    .wrapper1{
        margin-left: -4rem;
    }

    .details{
     
     margin-top: -7rem;
     margin-left: -8.5rem; 
     }
    .content1 ul{
        font-size:1px;
        margin-top: -4rem;
        margin-left: 2.3rem;
    }
    .content1 li{
        visibility: hidden;
    }
 
    .content1 p2{
        
        margin-bottom: 9rem;
        margin-left: -7.8rem;
        font-size:10px;
    }
    .content1 span{
        visibility:hidden;
    }
    .content1 p2::before{
        visibility:hidden;
    }
 }

 @media(max-width:320px){ 
     .title2{
        margin-left: 2rem;
     }
     .master{
        margin-left: 2rem;
     }

     .wrapper{
         margin-top: 5rem;
     }
    .details{
        margin-top: -7.5rem;
        margin-left: -9.2rem; 
    }
    .content1 ul{
        margin-left: 3.5rem;
        font: 1% sans-serif;
    }
    .content1 p2{
        font-size: 10%;
        margin-bottom: 9rem;
        margin-left: -8.6rem;
    
    }
 }



.column .details .content1 p2{ /*背面Menbername*/
    position: relative;
    right: 7.5rem;
    // display: flex;
    margin-top: -25px;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
 
}

.column .details .content1 p2 span{ /*Developer*/
    font-size: 16px;
    color: #999;

}
.column .details .content1 p2::before{/*紅線*/
    content: '';
    position: absolute;
    bottom: 5rem;
    width: 85px;
    height: 2px;
    background: #f00;
    left: 2.8rem;
    transform: translateX(-50%);
}

.column .details .content1 ul{ /*圖+文字 EMAIL*/
    position: relative;
    right: 19rem;
    bottom: 2rem;
    display: flex;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
    width: 100%;

}

.column:hover .details .content1 ul{
    transform: translateY(0 px);
    opacity: 1;
}

.column .details .content1 ul li{ /*icon圖片*/
    list-style: none;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    

}

.column .details .content1 ul li a{     /*圖示*/
    color: #262626;
    width: 50%;
    height: 50%;
    line-height: 36px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #262626;
}
 
.column .details .content1 ul li a:hover{
    background-color: #f00;
    color: #fff;
    border: 1px solid #f00;
}


.master1{
    display: flex;
    width: 80%;
    margin-left: 8rem;
    margin-top: -45rem;
    background-color: #D4DFEC;
    font-size: 40px;
    font-family: Oswald;
}


.wrapper1{
    width: 90%;
    height: 100%;
    display: flex;
    margin-top: -4rem;

    padding: 5rem;
    // padding-left: -5rem;
    // position: absolute;
    // top: 150rem;
    transform: translateY(-50%);
 
}

.column1{
    position:relative;
    padding: 15%;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    margin-left: -1.5rem;
}

.column1 .imgBx1{
    //width: 20%;
    // height: auto;
    position: relative;
}


.column1:hover .imgBx1 .img{
    transform:scale(1.5);

}

.column1 .details1{       /*背面整個*/
    position: absolute;
    top: 22rem;
    left: 23rem;
    font-size: 20px;
    // display: flex;
    // margin-top: -25rem;
    background: #fff;
    text-align: center;
    transform: scale(.5);
    visibility: hidden;
    transition: .5s;
    width: 30%;
    height: 30%;
}


.column1:hover .details1{
    transform: scale(1);
    visibility: visible;
}

.column1 .details1 .content2{ /*背面文字*/
    

    display: flex;
    margin-left: 14.5rem;
    margin-top: 7rem;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 20%;                                    
    box-sizing: border-box;
    
    max-width: 50%;

}

.column1 .details1 .content2 p2{ /*背面Menbername*/
    position: relative;
    right: 7.5rem;
    // display: flex;
    margin-top: -25px;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
 
}

.column1 .details1 .content2 p2 span{ /*Developer*/
    font-size: 16px;
    color: #999;

}
.column1 .details1 .content2 p2::before{/*紅線*/
    content: '';
    position: absolute;
    bottom: 5rem;
    width: 85px;
    height: 2px;
    background: #f00;
    left: 2.8rem;
    transform: translateX(-50%);
}

.column1 .details1 .content2 ul{ /*圖+文字 EMAIL*/
    position: relative;
    right: 19rem;
    bottom: 2rem;
    display: flex;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
    width: 100%;

}

.column1:hover .details1 .content2 ul{
    transform: translateY(0 px);
    opacity: 1;
}

.column1 .details1 .content2 ul li{ /*icon圖片*/
    list-style: none;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    

}

.column1 .details1 .content2 ul li a{     /*圖示*/
    color: #262626;
    width: 50%;
    height: 50%;
    line-height: 36px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #262626;
}
 
.column1 .details1 .content2 ul li a:hover{
    background-color: #f00;
    color: #fff;
    border: 1px solid #f00;
}




@media(max-width:1440px){ 
    .details1{
        margin-top: -5.5rem;
        margin-left: -5.5rem; 
    }
    .content2 p2{
        margin-left: -2.5rem;
        margin-bottom: 5rem;
        
    }
    .content2 p2::before{
        margin-bottom: -5rem;
    }

 }


@media(max-width:1024px){

    .wrapper1{
        margin-bottom: 15rem;
    }
    .details1{
        margin-top: -10rem;
        margin-left: -10.5rem; 
    }
    .content2 li{
        visibility: hidden;
    }
    .content2 ul{
        margin-left: 1rem;
        margin-top: -1rem;
        font-size:15px;
    }
    .content2 p2{
        margin-bottom: 7rem;
        margin-left: -4.5rem;
    }
    .content2 p2::before{
        margin-bottom: -5rem;
    }
 }


 @media(max-width:800px){ 
    .wrapper1{
        margin-top:-8rem;
     }
     .master1{
         margin-top: -30rem;
     }
    .details1{
    margin-top: -13rem;
    margin-left: -13rem; 

    }
    .content2 ul{
        font-size:10px;
        margin-top: -1rem;
        margin-left: 2rem;
    }
    .content2 li{
        visibility: hidden;
    }
    .content2 p2{
        
        margin-bottom: 8rem;
        margin-left: -5.7rem;
        
    }
    .content2 p2::before{
        margin-bottom: -5rem;
    }
 }

 @media(max-width:450px){ 
    .master1{
        margin-left:3rem;
    }
    .details1{
     margin-top: -17rem;
     margin-left: -17rem; 
     }
    .content2 ul{
        font-size:1px;
        margin-top: -4rem;
        margin-left: 2.5rem;
    }
    .content2 p2 { 
        margin-bottom: 8rem;
        margin-left: -7.2rem;
        font-size: 10px;
    }

    .content2 span{
        visibility:hidden;
    }
    .content2 p2::before{
        visibility:hidden;
    }
 }

 @media(max-width:320px){ 

    //   .wrapper1{
    //     margin-top: 0.5rem;
    // }
     .details1{
         margin-top: -18rem;
     margin-left: -19rem; 
     }
    .content2 ul{
        margin-top: -4rem;
        font: 1% sans-serif;
    }
    .content2 p2{
        margin-left: -8rem;
        margin-bottom: 8.5rem;
    }
 }
