.News{
    padding-top: 5%;
    //margin-top: -25rem;
    width: 100%;
    height: 100%;
    /*background-size: cover;
    background-image: url('../img/.jpg');*/
    overflow: hidden;
    background-color: #f5f7f8;
    
    .Title{
        text-align: left;
        margin-left: 5%;
        font-family: Signika, sans-serif;
        font-size: 1.8rem;
        
    }

    .allItems{
        display: flex;
        justify-content: center;
        padding:2% 0%;
        flex-wrap: wrap;
        .Item{
            padding: 2%;
            display:grid;
            justify-content: center;
            justify-items: center;
            width: 20vw;
            background-color: silver;
            margin:1% 1%;
            //border-radius: 5%;
            h1{
                font-family: Signika, sans-serif;
                // align-self: center;
            }
            
            img{
                //width: 100%;
                // align-self: center;
                height: 40vh;
            }

            // #img20201201{
            //     align-self: center;
            //     height: 23vh;
            // }
            h3{
                //justify-self: center;
                align-self: center;
                font-family: 'Noto Sans TC', sans-serif;
                text-align: left;
                font-size: 1.11rem;
                font-weight: lighter;
                .red{
                    color: #ce3213;
                    font-size: 1.2rem;
                    align-self: center;
                }
                .name{
                    font-size: 1.2rem;
                    color: #324158;
                    align-self: center;
                }
                a{
                    color: #003cff;
                    align-self: center;
                    font-size: 1rem;
                }
            }
        }
    }
    

}  

@media screen and(max-width:767px){
    .News{
        padding-top: 15%;
    }
    .News .Title{
        font-size: 1rem;
    }
    .News .allItems .Item{
        width: 100%;
    }
}
@media screen and(max-width:600px){
    .News{
        padding-top: 15%;
    }
    .News .Title{
        font-size: 1rem;
    }
}