// .top_P {
//     position: fixed;
//     top: 0;
//     background-color: rgba(23, 39, 68, 0);
//     background-image: url(https://template101386.motopreview.com/mt-demo/101300/101386/mt-content/uploads/2020/05/mt-2019-bg-main.jpg);

//     display: flex;
//     width: 100%;
//     z-index: 999;

//     .list_P{
//       display: flex;
//       margin: auto;
//       width: 100%;
//       .logo_P {
//         height: 10vh;
//         padding: 0% 0% 5% 2%;
//       }
//       ul {
//         margin: auto;
//         text-align: end;
//         width: 90%;
//       li {
//         display: inline-flex;
//         padding: 2% 2%;
//         #p1_P:hover{
//             color: #d87a00;
//            }
//       }
//      }
//     }

//     #p1_P {
//       text-decoration: none;
//       font-size: 1.5em;
//       color: white;
//     }
// .Education {
//     //padding-top: 5%;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     .List {
//       margin: 1% 5%;
//       // background-color: white;
//       padding: 1% 0% 0% 0%;
//       .ant-divider {
//         border-bottom: solid 1px gray;
//       }
//       .Title {
//         // font-family: Signika, sans-serif;
//         // font-size: 3rem;
//         font-size: 2rem;
//         font-weight: bold;
//         margin-bottom: -1%;
//       }
//       Table {
//         box-shadow: 2px 2px 5px gray;
//         th {
//           background-color: rgb(221, 221, 221);
//           word-break: keep-all;
//         }
//         td {
//           word-break: normal;
//         }
//       }
//     }
//   }

//   .Experience {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     .List {
//       margin: 1% 5%;
//       // background-color: white;
//       padding: 1% 0% 3% 0%;
//       .ant-divider {
//         border-bottom: solid 1px gray;
//       }
//       .Title {
//         // font-family: Signika, sans-serif;
//         // font-size: 3rem;
//         font-size: 2rem;
//         font-weight: bold;
//         margin-bottom: -1%;
//       }
//       Table {
//         box-shadow: 2px 2px 5px gray;
//         th {
//           background-color: rgb(221, 221, 221);
//           word-break: keep-all;
//         }
//         td {
//           word-break: normal;
//         }
//       }
//     }
//   }
//         .Education {
//     //padding-top: 5%;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     .List {
//       margin: 1% 5%;
//       // background-color: white;
//       padding: 1% 0% 0% 0%;
//       .ant-divider {
//         border-bottom: solid 1px gray;
//       }
//       .Title {
//         // font-family: Signika, sans-serif;
//         // font-size: 3rem;
//         font-size: 2rem;
//         font-weight: bold;
//         margin-bottom: -1%;
//       }
//       Table {
//         box-shadow: 2px 2px 5px gray;
//         th {
//           background-color: rgb(221, 221, 221);
//           word-break: keep-all;
//         }
//         td {
//           word-break: normal;
//         }
//       }
//     }
//   }

//   .Experience {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     .List {
//       margin: 1% 5%;
//       // background-color: white;
//       padding: 1% 0% 3% 0%;
//       .ant-divider {
//         border-bottom: solid 1px gray;
//       }
//       .Title {
//         // font-family: Signika, sans-serif;
//         // font-size: 3rem;
//         font-size: 2rem;
//         font-weight: bold;
//         margin-bottom: -1%;
//       }
//       Table {
//         box-shadow: 2px 2px 5px gray;
//         th {
//           background-color: rgb(221, 221, 221);
//           word-break: keep-all;
//         }
//         td {
//           word-break: normal;
//         }
//       }
//     }
//   }

//   .Journal {
//     justify-self: center;
//     width: 90%;
//     background-color: white;
//     box-shadow: 2px 2px 5px gray;
//     margin-bottom: 5%;
//     text-align: left;

//     .ant-list-header {
//       //border-bottom:solid 1px gray;
//       margin: 0% 5%;
//       padding: 1% 0%;

//       h1 {
//         margin-bottom: 0rem;
//         font-size: 2rem;
//         font-weight: bold;
//       }
//     }

//     .ant-list-split.ant-list-something-after-last-item
//       .ant-spin-container
//       > .ant-list-items
//       > .ant-list-item:first-child {
//       border-top: 1px solid gray;
//     }

//     .ant-list-split.ant-list-something-after-last-item
//       .ant-spin-container
//       > .ant-list-items
//       > .ant-list-item:last-child {
//       border-bottom: 1px solid gray;
//     }

//     .ant-list-items {
//       //height: 45rem;
//       list-style-type: decimal;
//       font-family: Signika;
//       font-size: 1.2rem;

//       // align-items: center;
//       // justify-content: center;
//       // justify-items: center;
//       //border-bottom:solid 1px gray;
//       .ant-list-item {
//         font-family: Signika, sans-serif;
//         //list-style-position:outside ;
//         margin: 0% 5%;
//         //padding:10px 5px;
//         color: #28475d;
//         border-bottom: solid 1px gray;
//         text-align: justify;
//         text-justify: inter-ideograph;

//         //font-weight: lighter;
//         .blod {
//           font-weight: bold;
//         }

//         a {
//           text-decoration: underline;
//           color: #28475d;
//         }
//       }
//     }

//     .ant-pagination {
//       text-align: center;

//       li {
//         margin: 0% 1%;
//         //border-bottom:solid 0px #d9d9d9;
//       }
//     }
//   }

//   .Journal {
//     justify-self: center;
//     width: 90%;
//     background-color: white;
//     box-shadow: 2px 2px 5px gray;
//     margin-bottom: 5%;
//     text-align: left;

//     .ant-list-header {
//       //border-bottom:solid 1px gray;
//       margin: 0% 5%;
//       padding: 1% 0%;

//       h1 {
//         margin-bottom: 0rem;
//         font-size: 2rem;
//         font-weight: bold;
//       }
//     }

//     .ant-list-split.ant-list-something-after-last-item
//       .ant-spin-container
//       > .ant-list-items
//       > .ant-list-item:first-child {
//       border-top: 1px solid gray;
//     }

//     .ant-list-split.ant-list-something-after-last-item
//       .ant-spin-container
//       > .ant-list-items
//       > .ant-list-item:last-child {
//       border-bottom: 1px solid gray;
//     }

//     .ant-list-items {
//       //height: 45rem;
//       list-style-type: decimal;
//       font-family: Signika;
//       font-size: 1.2rem;

//       // align-items: center;
//       // justify-content: center;
//       // justify-items: center;
//       //border-bottom:solid 1px gray;
//       .ant-list-item {
//         font-family: Signika, sans-serif;
//         //list-style-position:outside ;
//         margin: 0% 5%;
//         //padding:10px 5px;
//         color: #28475d;
//         border-bottom: solid 1px gray;
//         text-align: justify;
//         text-justify: inter-ideograph;

//         //font-weight: lighter;
//         .blod {
//           font-weight: bold;
//         }

//         a {
//           text-decoration: underline;
//           color: #28475d;
//         }
//       }
//     }

//     .ant-pagination {
//       text-align: center;

//       li {
//         margin: 0% 1%;
//         //border-bottom:solid 0px #d9d9d9;
//       }
//     }
//   }
//   }

@media screen and(max-width:1024px) {
  .top_P {
    display: none;
  }
}

.Professor1 {
  padding-top: 5%;
  width: 100%;
  //height: 100%;
  display: grid;
  //background-color: powderblue;
  overflow: hidden;
  background: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  background-image: url("../img/Professor/Professor_bg1.jpg");

  .ant-back-top {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #204091;
    color: white;
    text-align: center;
  }

  .content {
    display: inline-flex;
    justify-content: space-around;

    .Pic {
      display: grid;
      flex: 2;
      //align-self: center;

      span {
        font-family: Oswald;
        letter-spacing: 0.2rem;
        font-size: 3rem;
        font-weight: bold;
        //margin-left: 7%;
        display: grid;
        justify-self: center;
        padding: 2% 0%;
        text-align: center;
        //margin-left: 0;
      }

      img {
        margin-bottom: 5%;
        border-radius: 25%;
        border: solid white 0.5rem;
        display: grid;
        justify-self: center;
        margin-left: 0;
      }
    }

    .Info {
      display: grid;
      flex: 3;
      align-items: center;
      margin: 2.5% 10% 2.5% 2.5%;
      justify-items: first baseline;

      .Name {
        display: inline-flex;

        span {
          text-align: left;
          font-family: Oswald, "Noto Sans TC", sans-serif;
          letter-spacing: 0.2rem;
          font-size: 2rem;
          align-items: center;
          margin-bottom: 2.5%;
          white-space: nowrap;
          margin-right: 5%;
        }
      }

      span {
        font-family: "Noto Sans TC", sans-serif;
        align-self: center;
        display: inline-flex;
        justify-content: start;
        font-size: 1.5rem;
        line-height: 3rem;
        //font-family: Oswald;
        text-align: left;
      }

      .Mail {
        display: inline-flex;
        margin-top: 2%;
        img {
          width: 7%;
          height: auto;
          align-self: center;
          margin-right: 3%;
        }

        span {
          text-align: left;
        }
      }

      .Phone {
        display: inline-flex;

        img {
          width: 6%;
          height: auto;
          align-self: center;
          margin-right: 3%;
        }
        .Number {
          flex: 1;
          white-space: nowrap;
        }

        .Btn-more {
          //flex:1;
          display: grid;
          width: fit-content;
          text-decoration: none;
          //flex:1;
          //margin-right: 20%;
          //background-color: rgb(155, 176, 192);
          font-family: Oswald;
          font-size: 1.5rem;
          border-radius: 10% / 30%;
          text-align: left;
          //vertical-align: middle;
          align-self: center;
          padding: 1% 2%;
          //margin:5% 0%
          letter-spacing: 0.1rem;
          border: solid 1px;
          font-style: oblique;
          color: black;
        }

        .Btn-more:hover {
          background-color: lightcoral;
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }

  .part {
    //padding-top: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .List {
      margin: 1% 5%;
      // background-color: white;
      padding: 1% 0% 0% 0%;
      .ant-divider {
        border-bottom: solid 1px gray;
      }
      .Title {
        // font-family: Signika, sans-serif;
        // font-size: 3rem;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: -1%;
      }

      table {
        box-shadow: 2px 2px 5px gray;
        border: none;
        th {
          background-color: rgb(221, 221, 221);
          word-break: keep-all;
        }
        td {
          word-break: normal;
        }
      }

      .panel {
        background-color: rgb(212, 211, 211);

        table {
          box-shadow: none;
          th {
            background-color: whitesmoke;
          }
        }
      }

      .tab {
        padding: 1rem;
        background-color: whitesmoke;
        th {
          background-color: whitesmoke;
        }
      }

      .page_list {
        background-color: white;
        .ant-list-items > .ant-list-item:first-child {
          // border-top: 1px solid gray;
          padding-top: 3rem;
        }
        .ant-list-items > .ant-list-item:last-child {
          border-bottom: 1px solid gray;
        }
        .ant-list-item {
          font-family: Signika, sans-serif;
          font-size: 1.2rem;
          margin: 0 2rem;
          color: #28475d;
          border-bottom: solid 1px gray;
          text-align: justify;
          text-justify: inter-ideograph;
          .blod {
            font-weight: bold;
          }
          a {
            text-decoration: underline;
            color: #28475d;
          }
        }

        .ant-pagination {
          text-align: center;

          li {
            margin: 0% 1%;
            //border-bottom:solid 0px #d9d9d9;
          }
        }
      }
    }
  }
}

@media screen and(max-width:1200px) {
  .Professor1 {
    padding-top: 13%;
  }
}

@media screen and(max-width:900px) {
  .Professor1 .content {
    display: grid;
    .Info {
      margin: 5%;
      justify-items: center;
      .Name {
        width: 100%;
        display: grid;
        justify-items: center;
        //align-self: left;
        margin: 1% 0% 1% 0%;
        border-bottom: 0.1rem solid gray;
        span {
          margin-right: 0%;
        }
      }
      span {
        text-align: center;
        margin: 1% 0% 1% 0%;
        //font-size: 1rem;
      }

      .Mail {
        width: 100%;
        display: grid;
        justify-items: center;
        border-top: 0.1rem solid gray;
        border-bottom: 0.1rem solid gray;
        img {
          justify-self: center;
          margin-top: 2.5%;
          margin-right: 0%;
        }
      }

      .Phone {
        width: 100%;
        display: grid;
        justify-items: center;
        img {
          width: 7%;
          justify-self: center;
          margin-top: 2.5%;
          margin-right: 0%;
        }
        .Btn-more {
          width: fit-content;
          text-decoration: none;
          //flex:1;
          //margin-right: 20%;
          background-color: rgb(155, 176, 192);
          font-family: Oswald;
          font-size: 1.2rem;
          border-radius: 10% / 30%;
          text-align: center;
          vertical-align: middle;
          padding: 1% 2%;
          margin: 5% 0%;
          //border: 8px solid black;
        }
      }
    }
  }
}

@media screen and(max-width:450px) {
  .Professor1 {
    display: grid;
    justify-items: center;

    .Pic span {
      margin: 5% 0%;
    }

    .Info {
      margin: 5%;
      justify-items: center;
      .Name {
        width: 100%;
        display: grid;
        justify-items: center;
        //align-self: left;
        margin: 1% 0% 1% 0%;
        border-bottom: 0.1rem solid gray;

        span {
          margin-right: 0%;
        }
      }
      span {
        text-align: center;
        margin: 1% 0% 1% 0%;
        font-size: 1.2rem;
      }

      .Mail {
        width: 100%;
        display: grid;
        justify-items: center;
        border-top: 0.1rem solid gray;
        border-bottom: 0.1rem solid gray;
        img {
          justify-self: center;
          margin-top: 5%;
          margin-right: 0%;
        }
        span {
          font-size: 1.2rem;
        }
      }

      .Phone {
        width: 100%;
        display: grid;
        justify-items: center;

        img {
          justify-self: center;
          margin-top: 5%;
          margin-right: 0%;
        }
        .Btn-more {
          justify-self: center;
          //margin:5% 0%;
          border-radius: 10% / 30%;
        }

        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and(max-width:320px) {
  // .Professor1 .content{
  //     margin-left: -1rem;
  // }
  .Professor1 .Journal {
    margin-left: -1.3rem;
  }
}
