.Research_interests {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  //border-bottom: solid 0.1rem gray;
  background-color: #2d3a4b;
  color: white;
  .Title {
    font-family: Signika, sans-serif;
    font-size: 3rem;
    text-align: left;
    margin-left: 5%;
    color: white;
  }
  span {
    font-family: Signika, sans-serif;
    font-size: 1.2rem;
    margin: 0% 5%;
    text-align: left;
    //font-weight: bold;
    padding: 2% 1%;
    font-size: 23px;
    text-align: justify;
          text-justify: inter-ideograph;
  }

  .Ch {
    font-family: "Noto Sans TC", sans-serif;
    //border-bottom: solid 0.1rem gray;
    padding: 1% 1%;
  }

  .article {
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    flex-wrap: wrap;
    
    .Item {
      padding: 2%;
      display: grid;
      justify-content: center;
      justify-items: center;
      width: 20vw;
      background-color: rgb(156, 142, 136);
      margin: 1% 1%;
      //border-radius: 5%;
      h1 {
        font-family: "Noto Sans TC", sans-serif;
        // align-self: baseline;
        font-size: 25px;
      }

      // img {
      //   width: 100%;
      //   align-self: baseline;
      //   height: 23vh;
      // }

      // .ant-image{
      //   vertical-align: top;
      // }

      h3 {
        //justify-self: center;
        align-self: center;
        font-family: "Noto Sans TC", sans-serif;
        text-align: justify;
        font-size: 1.11rem;
        font-weight: lighter;
        padding: 5px;
      }
     
    }
  }
}


.Projects{
  padding-top: 5%;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  .Title{
      font-family: Signika, sans-serif;
      font-size: 3rem;
      text-align: left;
      margin-left: 5%;
  }
  .List{
      padding: 1% 5% 5% 5%;
      Table{
          th{
              background-color: rgb(221, 221, 221);
              word-break: keep-all;
          }
          td{
              word-break: normal;
          }
      }
  } 
}

@media screen and(max-width:850px) {
    // .slick-dots{
    //     width: auto;
    // }
  
    .Research_interests .Title {
      font-size: 2.5rem;
    }
    // img {
    //   margin-left: 0;
    // }
  
    .Research_interests .article {
      .content {
        display: grid;
      }
    }
  }
  
  @media screen and(max-width:770px) {
    .Research_interests {
      padding-top: 14%;
    }
    .Research_interests .article .Item{
      width: 100%;
    }
  }
  
  @media screen and(max-width:415px) {
    .Research_interests .Title {
      font-size: 2.25rem;
    }
    .Research_interests .ch {
      width: 90%;
    }
  }

  @media screen and(max-width:321px) {
    .Research_interests .article .Item h1{
        font-size: 20px;
      }
}