.Research_Posters{
    padding-top: 5%;
    //margin-top: -25rem;
    width: 100%;
    height: 100%;
    /*background-size: cover;
    background-image: url('../img/.jpg');*/
    overflow: hidden;
    background-color:  #2d3a4b;
    
    
    .Title{
        text-align: left;
        margin-left: 5%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
       
        h1{
            color: white;
        }
        
    }

    .Posters{
        display: flex;
        justify-content: center;
        padding:2% 0%;
        flex-wrap: wrap;
        .Item{
            padding: 2%;
            display:grid;
            justify-content: center;
            width: 15vw;
            
            img{
                width: 100%;
                align-self: end;
            }
            h3{
                align-self: center;
                font-family: 'Noto Sans TC', sans-serif;
                color: rgb(221, 220, 220);

                text-align: justify;
            }
            // .EN{
            //     font-size: 0.8rem;
            // }
        }
    }
    

} 

@media screen and(max-width:413px){
    .Research_Posters{
        padding-top: 10%;
    }
    .Research_Posters .Title{
        font-size: 1.4rem;
    }
}
