.Research_interests{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    display: grid;
    align-items: center;
    //border-bottom: solid 0.1rem gray;
    .Title{
        font-family: Signika, sans-serif;
        font-size: 3rem;
        text-align: left;
        margin-left: 5%;
    }
    span{
        font-family: Signika, sans-serif;
        font-size:1.2rem;
        margin:0% 5%;
        text-align: left;
        //font-weight: bold;
        padding:2% 1%;
    }

    .Ch{
        font-family: 'Noto Sans TC', sans-serif;
        border-bottom: solid 0.1rem gray;
        padding:1% 1%;
    }

    .Article{
        margin:0% 5%;
        display: grid;
        height: 100%;
        width: 80%;
        padding:0% 5%;
        //margin-bottom:3%;
        border-bottom: solid 0.1rem gray;
        
        h1{
            font-size:2rem;
            margin:0% 2.5%;
            padding:2% 1%;
            font-weight: bold;
            font-family: 'Noto Sans TC', sans-serif;
            text-align: left;
        }
        .content{
            height: 100%;
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin:0%;
            span{
                align-self: center;
                flex:1;
                margin:0% 2.5%;
                font-family: 'Noto Sans TC', sans-serif;
            }
            img{
                flex:1;
                //width: 50%;
                height: 100%;
                width: 100%;
            }
           
        }
        
        #content_1516{
            span{
                align-self: start;
            }
        }
        
    }
}



.slider{
    display: flex;
    justify-content: center;
    height: 60rem;

    .slider_container{
        margin-top: 10em;
        width: 70%;
        height: auto;
        display: grid;
        border: 20px solid;    
        border-color: #fff;
        border-bottom-width: 10rem;
        background-color: #f5f5f5;
        box-shadow: #666 0 0 5px;
        img{
            
            width: 50%;
            // height: 80%;
            // display:inline-block;
            // vertical-align: middle;
        }
        .container1{
        // max-width: 80%;
        margin-top: 10rem;
        // width: 70%;
        display: grid;
        
        // flex-direction: column;
        justify-content: center;
        }

    }

}



.slider_container div{
    position: absolute;
    top: 10;
    left: 10;
    opacity: 0;

    filter: alpha(opacity=0);
}



.slider_container div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
        
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}


.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}


.slider_container img{
    display: flex;
    justify-content: center;
    padding-left: 13rem;
    padding-top: 0.5rem;
}

.slider .slider_container span {    
    color: #000;
    display: flex;
    background: #fff;
    position: absolute;
    // left: 0em;
    top: 21.5em;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 80%;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);

}

// .slider_container:hover div { /*暫停效果*/
//     -webkit-animation-play-state: paused;
//             animation-play-state: paused;
// }


@media screen and(max-width:1150px)
{
    .slider_container img{
        padding-left: 10rem;
    }
    .slider{
        height: 46em;
    }
    .info{
        margin-top: -7.5em;
    }
}


@media screen and(max-width:1023px){
    .Research_interests .Title{
        font-size: 2.5rem;
    }
    .Research_interests .Article {
        
        .content{
            display: grid;
        }
    }

}

@media screen and(max-width:770px){
    .slider{
        height: 40em;
    }
    .info{
        margin-top: -10.5em;
    }
    .slider_container img{
        padding-left: 6rem;
    }
    .slider_container{
        height: 10px;
    }
    .Research_interests{
        padding-top: 14%;
    }

}


@media screen and(max-width:415px){
    .slider{
        height: 32em;
    }
    .info{
        margin-top: -22em;
    }
    .slider_container img{
        padding-left: 3.5rem;
    }
    .slider .slider_container span{
        font-size: 20px;
        top: 40rem;
    }
    .Research_interests .Title{
        font-size: 2.25rem;
    }
    .Research_interests .ch{
        width: 90%;
    }

}

@media screen and(max-width:376px){
    .slider{
        height: 30em;
    }
    .info{
        margin-top: -24em;
    }
    .slider_container img{
        padding-left: 3.1rem;
    }
}


