.Talks{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    display: grid;
    //border-bottom: solid 0.1rem gray;
    //background-color: lightblue;
    .Title{
        
        font-family: Signika, sans-serif;
        font-size: 3rem;
        text-align: left;
        margin-left: 5%;
        //justify-self: start;
    }
    .List{
        // display: grid;
        // justify-self: center;
        padding: 1% 5%;
        .panel{
            background-color: rgb(212, 211, 211);
            table {
                        
                //table-layout: auto;
                //width: 100%;
                //border:solid 1px gray;
                //column-rule-style: solid 1px gray;
                th{
                    text-align: center;
                    padding-top: 0%;
                    background-color: rgb(255, 255, 255);
                }
                td{
                    text-align: center;
                }
            }
        }
    }
    
}
@media (max-width: 415px) {
    .Talks{
        padding-top: 15%;
    }
  }